#blog h3,h4{
    text-align: center;
}

#blog .articulos{
    display: flex;
    justify-content: center;
    /*
    Si un elemento ya no cabe en linea
    baja
    */
    flex-wrap: wrap;
}

#blog article{
    margin: 15px;
}

#blog img{
    width: 100%;
    max-width: 280px;
}

@media(min-width:1024px){
    .contend-footer{
        width: 1000px;
    }
}