<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/fontello.css">
    <link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon">
    <title>Acerca de Liber</title>
</head>

<body>
    <header>
        <div class="contenedor">
            <img src="/static/images/logo.1.png" class="icon" alt="liber">
            <input type="checkbox" id="menu-bar">
            <label class="icon-menu" for="menu-bar"></label>

            <nav class="menu">
                <a href="/templates/home.html">inicio</a>
                <a href="/templates/sign_in.html">iniciar sesi&oacute;n</a>
                <a href="/templates/sign_up.html">Registro</a>
                <a href="/templates/about.html">Acerca de</a>
                <a href="#">Contacto</a>
            </nav>
        </div>
    </header>

    <main>
        <section id="banner-img">
            <img src="/static/images/about.jpg" alt="baner">
        </section>

        <section id="about">
            <h2>Acerca de Liber</h2>
            <article>
                <p>
                    Liber es una herramienta web capaz de
                    gestionar tu propia biblioteca personal
                    de libros f&iacute;sicos.
                </p><br>
                <p>
                    Con Liber adem&aacute;s de gestionar tu biblioteca,
                    tambi&eacute;n podr&aacute;s descargar informaci&oacute;n
                    adicional de tus libros de manera automatica.
                </p>
            </article>
        </section>
    </main>

    <footer>
        <div class="contend-footer">
            <p class="copy">Liber &copy; 2020</p>
            <div class="sociales">
                <a class="icon-facebook-official" href="https://www.facebook.com/AxlEstevezN" target="blank"></a>
                <a class="icon-instagram" href="#"></a>
                <a class="icon-twitter" href="#"></a>
            </div>
        </div>
    </footer>
</body>

</html>