<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/fontello.css">
    <link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon">
    <title>Contacto</title>
</head>
<body>
    <header>
        <div class="contenedor">
            <img src="/static/images/logo.1.png" class="icon" alt="liber">
            <input type="checkbox" id="menu-bar">
            <label class="icon-menu" for="menu-bar"></label>

            <nav class="menu">
                <a href="/">inicio</a>
                <a href="/login">iniciar sesi&oacute;n</a>
                <a href="/signUp">Registro</a>
                <a href="/about">Acerca de</a>
                <a href="/contact">Contacto</a>
            </nav>
        </div>
    </header>

    <main>
        <section id="contacto">
            <article id="formulario-contacto">
                <form action="#" method="post">
                    <h2>Contactanos</h2>
                    <input type="text" id="nombre" placeholder="Nombre">
                    <input type="email" id="correo" placeholder="Correo">
                    <textarea id="mensaje" placeholder="Escribe tu mensaje aquí"></textarea>
                    <input type="submit" value="Enviar">
                </form>
            </article>
        </section>
    </main>


    <footer>
        <div class="contend-footer">
            <p class="copy">Liber &copy; 2020</p>
            <div class="sociales">
                <a class="icon-facebook-official" href="https://www.facebook.com/AxlEstevezN" target="blank"></a>
                <a class="icon-instagram" href="#"></a>
                <a class="icon-twitter" href="#"></a>
            </div>
        </div>
    </footer>
</body>
</html>