<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/fontello.css">
    <link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon">
    <title>home</title>
</head>

<body>
    <header>
        <div class="contenedor">
            <img src="/static/images/logo.1.png" class="icon" alt="liber">
            <input type="checkbox" id="menu-bar">
            <label class="icon-menu" for="menu-bar"></label>

            <nav class="menu">
                <a href="/templates/home.html">inicio</a>
                <a href="/templates/sign_in.html">iniciar sesi&oacute;n</a>
                <a href="/templates/sign_up.html">Registro</a>
                <a href="/templates/about.html">Acerca de</a>
                <a href="/templates/contact.html">Contacto</a>
            </nav>
        </div>
    </header>

    <main>
        <section id="banner">
            <img src="/static/images/banner.jpg" alt="baner">
            <div class="contenido">
                <h2>Dr. Seuss.</h2>
                <h5>Cuando m&aacute;s lees,m&aacute;s cosas sabr&aacute;s</h5>
                <h5>Cuantas m&aacute;s cosas aprendas, a m&aacute;</h5>
                <h5>Lugares viajaras.</h5>
                <a href="https://www.lifeder.com/frases-de-lectura/" target="blank">Leer mas</a>
            </div>
        </section>

        <section id="bienvenidos">
            <h2>Te damos la bienvenida</h2>
            <p>
                Liber, tu biblioteca personal organizada
                y accesible desde cualquier lugar
            </p>
        </section>

        <section id="blog">
            <h3>Lo &uacute;ltimo de nuestro blog</h3>
            <div class="articulos">
                <article>
                    <img src="/static/images/a1.jpg" alt="imagen">
                    <h4>Libros y caf&eacute;</h4>
                </article>
                <article>
                    <img src="/static/images/a2.jpg" alt="imagen">
                    <h4>Libros para se feliz</h4>
                </article>
                <article>
                    <img src="/static/images/a3.jpg" alt="imagen">
                    <h4>Libros y tecnlog&iacute;a</h4>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <div class="contend-footer">
            <p class="copy">Liber &copy; 2020</p>
            <div class="sociales">
                <a class="icon-facebook-official" href="https://www.facebook.com/AxlEstevezN" target="blank"></a>
                <a class="icon-instagram" href="#"></a>
                <a class="icon-twitter" href="#"></a>
            </div>
        </div>
    </footer>
</body>

</html>